  <h5>月齢</h5>

  <h5>ジャンル検索</h5>

  <%= form_tag({controller:"recipes",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

<!--< % recipes.each do |recipe| %>-->

<!--< %= recipes.name %>-->

<!--< % end %>-->


