<div class="container my-5">
  <h3>レシピ編集</h3>

  <% if @recipe.user == current_user %>
    <div class="row">
      <div class="col-6 col-md-3 ml-auto">
        <%= link_to "レシピの削除", user_recipe_path(@recipe), method: :delete, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image, size:"300x300", fallback: 'no_image.png', class: 'img-fluid' %>
        <% else %>
          <%= image_tag 'no_image.png', size: '300x300' %>
        <% end %>
    </div>
    <div class="col-md-8">

    <%= render 'recipe', {recipe: @recipe,path:user_recipe_path,action: :patch, button:"変更を保存" } %>


    </div>
  </div>
</div>

