<div class="container my-5">
  <h3>レシピ編集</h3>

        <% if @recipe.user == current_user %>
        <%= link_to "レシピの削除", user_recipe_path(@recipe), method: :delete, class: "btn btn-danger btn-block" %>
      <% else %>
      <div></div>
      <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.image, size:"300x300", fallback: 'no_image.png', class: 'img-fluid' %>
    </div>
    <div class="col-md-8">

    <%= render 'recipe', {recipe: @recipe,path:user_recipe_path,action: :patch, button:"変更を保存" } %>


    </div>
  </div>
</div>

