<div class="container">
  <div class="row">
    <div class="col-md-8 col-xl-8 mx-auto">

    <h1>Hoicookへようこそ！</h1>

      Hoicookでは、<br>
      保育園で子ども達が食べている給食・おやつのレシピを掲載しています。<br>
      ご家庭でよく食べるレシピを投稿していただくことも可能です。<br>

      <%= link_to "新規登録", new_user_registration_path, class: "col-xs-12 btn btn-primary"%>
      <%= link_to "ログイン", new_user_session_path, class: "col-xs-12 btn btn-success"%><br>

      ゲストログインでは、投稿、コメント、いいね機能が使えますが、<br>
      ログアウト時に全て削除されます。<br>

      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "login col-xs-12 btn btn-secondary"%>


    </div>
  </div>
</div>